# Database Configuration
API_KEY=riwi-secret-key
DB_URL=postgresql://postgres.qalasymffoibuoxuwjau:[YOUR-PASSWORD@aws-1-us-east-2.pooler.supabase.com:5432/postgres
# JWT Configuration
JWT_SECRET=secret_jwt_key
JWT_EXPIRATION=1d

# Application
PORT=3000
NODE_ENV=development